
diagrams/contigous/contigous_v1.py

diagrams/contigous/contigous_v2.jpeg

diagrams/pat_to_doc/pat_to_doc_v1.jpeg

diagrams/pat_to_doc/pat_to_doc_v1.py

diagrams/pat_to_doc/pat_to_doc_v2.jpeg

diagrams/photo_to_pat/photo_to_pat_v1.jpeg

diagrams/photo_to_pat/photo_to_pat_v1.py

diagrams/photo_to_pat/photo_to_pat_v2.jpeg

diagrams/pk_v1/pk_v1.jpeg

diagrams/pk_v1/pk_v1.py

diagrams/pk_v1/pk_v2.jpeg

diagrams/presc_to_pat/presc_to_pat_v1.jpeg

diagrams/presc_to_pat/presc_to_pat_v1.py

diagrams/presc_to_pat/presc_to_pat_v2.jpeg
